spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://10.129.57.5:6006/AriPay?serverTimezone=UTC&characterEncoding=UTF-8
    password: Devcoop1Qw@
    username: devcoop

  jpa:
    hibernate:
      ddl-auto: update
  main:
    allow-bean-definition-overriding: true


jwt:
  secret: DevCoopKioskAuthCertificateSecretKey!!
server:
  servlet:
    context-path: /kiosk
